body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
    
}


header .container{
    padding-top: .5cm;
    padding-bottom: .5cm;
    background-image: linear-gradient(125deg, #f6f7fb 70%, #62ba6e 30%, #83c331 );
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 2px 15px rgb(0, 0, 0, .5);
    border-radius: 8px;
    
}


header nav a{
    display: inline-block;
    text-decoration: none;
    color: #29232e;
    margin-right: 10px;
    margin-top: 15px;
}

header nav a:hover{
    color: #fff;

}

.conteudo{
    width: auto;
    height:800px;
    background-color:#f5f6fa;
    
    
}
#logout{
    outline: none;
    border: none;
    background-color: rgb(0, 0, 0, 0);
    color: #29232e;
    font-size: 16px;
    margin-right: 15px;
}

#logout:hover{
    color: #fff;
}

.footer{
    width:auto;
    height:100px;
    background-color:#181920;
    border-radius: 8px;
    }

.row{
    margin-top: 5px;
    width: 4cm;
    height: 790px;
    background-color: #393a3e;
    box-shadow: 0 2px 5px #181920;
    border-radius: 8px;
}



#icons{
    display: block;    
    filter: invert(99%) sepia(1%) saturate(7%) hue-rotate(160deg) brightness(115%) contrast(100%);
    display: block;
    width: 35px;
   margin-left: 15px;
    margin-top: 25px;
    padding: 45px;
}


.nav-item{
    list-style-type: none;
    padding: 0px;
}

.nav-link{
    text-decoration: none;
    color: #f5f6fa;
    display: flex;
    align-items: center;
    position: relative;
    transition: all;
}