.container{
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: linear-gradient(125deg, #f6f7fb 65%, #62ba6e 35%, #83c331 );
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 2px 15px rgb(0, 0, 0, .5);
    border-radius: 8px;
    
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 2em;
}

.item a{
    color: #29232e;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    
}

.item a:hover{
    color: #f6f7fb;
}

