.container{
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: linear-gradient(125deg, #1f2223 65%, #46515A 35%, #2d2d32 );
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 2px 15px rgb(0, 0, 0, .5);
    
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 2em;
}

.item a{
    color: #e3f7ff;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    
}

.item a:hover{
    color: #f1fbff;
}

